# Set the default behavior, in case people don't have core.autocrlf set.
# we use crlf as default line endings as we primarily work on Windows
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

## Unity ##

*.cs diff=csharp text eol=crlf
*.cginc text
*.shader text

*.mat eol=lf
*.anim eol=lf
*.unity eol=lf
*.prefab eol=lf
*.physicsMaterial2D eol=lf
*.physicsMaterial  eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf
